@import "tailwindcss";

@theme {
  --font-sans: "Open Sans" ;
}


body{
  background-image: url(/src/svg/body/Decore.svg), url(/src/svg/body/group4.svg);
  background-repeat: no-repeat no-repeat;
  background-position: top right,  1229px 966px;
  height: 8000px;
  

}